<table class="full-width full-height">
  <tr class="quarter-height">
    <td class="half-width">
      <h3>{{title}}</h3>
      <div>{{printDate}}</div>
      <div>{{printTime}}</div>
    </td>
    <td>
      <h3>Weather Goes Here?</h3>
    </td>
  </tr>
  <tr class="full-height" style="border-top: 1px solid;">
    <td class="half-width full-height">
        <table class="full-width full-height">
          <tr>
            <td>
              <h2>{{npr[0].title}}</h2>
              <p>{{npr[0].pubDate}}</p>
              <p>{{npr[0].description}}</p>
            </td>
            <td>
              <img width="300" alt="News image" src="{{npr[0].thumbnail}}">
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{npr[1].title}}</h2>
              <p>{{npr[1].pubDate}}</p>
              <p>{{npr[1].description}}</p>
            </td>
            <td>
              <img width="300" alt="News image" src="{{npr[1].thumbnail}}">
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{npr[2].title}}</h2>
              <p>{{npr[2].pubDate}}</p>
              <p>{{npr[2].description}}</p>
            </td>
            <td>
              <img width="300" alt="News image" src="{{npr[2].thumbnail}}">
            </td>
          </tr>
        </table>
    </td>
    <td class="full-width full-height">
      <table class="full-width full-height">
        <tr>
          <td>
            <h2>{{disney[0].title}}</h2>
            <p>{{disney[0].pubDate}}</p>
            <p>{{disney[0].description}}</p>
          </td>
          <td>
            <img width="300" alt="News image" src="{{disney[0].thumbnail}}">
          </td>
        </tr>
        <tr>
          <td>
            <h2>{{disney[1].title}}</h2>
            <p>{{disney[1].pubDate}}</p>
            <p>{{disney[1].description}}</p>
          </td>
          <td>
            <img width="300" alt="News image" src="{{disney[1].thumbnail}}">
          </td>
        </tr>
        <tr>
          <td>
            <h2>{{disney[2].title}}</h2>
            <p>{{disney[2].pubDate}}</p>
            <p>{{disney[2].description}}</p>
          </td>
          <td>
            <img width="300" alt="News image" src="{{disney[2].thumbnail}}">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
