<table class="full-width third-height">
  <tr class="full-height">
    <td class="third-width" style="text-align: center;">
      <h1>{{printDate.toString().substring(0,25)}}</h1>
      <div *ngIf="conditions">
        <img alt="conditions.weather" src="{{conditions.icon_url}}">
        <h1>{{conditions.weather}}</h1>
        <h1>{{conditions.temp_f}} F, feels like {{conditions.feelslike_f}}</h1>
        <h2>{{conditions.relative_humidity}} humidity ({{conditions.precip_today_in}}in precip)</h2>
        <h2>Wind {{conditions.wind_dir}} at {{conditions.wind_mph}}, gusts {{conditions.wind_gust_mph}}mph</h2>
      </div>
    </td>
    <td class="full-width full-height">
      <table>
        <tr>
          <td *ngFor="let forecastItem of forecast;" style="text-align: center; vertical-align: top; padding-left: 20px; padding-right: 20px;">
            <h1>{{forecastItem.date.weekday_short}}</h1>
            <img alt="{{forecastItem.icon}}" src="{{forecastItem.icon_url}}">
            <h1>{{forecastItem.conditions}}</h1>
            <h1>{{forecastItem.high.fahrenheit}}/{{forecastItem.low.fahrenheit}}</h1>
            <h2>Wind {{forecastItem.avewind.dir}} at {{forecastItem.avewind.mph}}</h2>
            <h2>{{forecastItem.avehumidity}}% humidity</h2>

            <h1>{{forecastItem.pop}}%</h1>
            <h2 *ngIf="forecastItem.qpf_allday.in > 0">{{forecastItem.qpf_allday.in}}in precip</h2>
            <h2 *ngIf="forecastItem.snow_allday.in > 0">{{forecastItem.snow_allday.in}}in snow</h2>
          </td>
        </tr>
      </table>
<!--       <table>
        <tr *ngFor="let forecastItem of forecast;">
          <td>
              <img alt="forecast" src="{{forecastItem.icon_url}}">
          </td>  
          <td>
              <h2>{{forecastItem.title}}</h2>
              <h2>{{forecastItem.fcttext}}</h2>        
          </td>
        </tr>
      </table> -->
    </td>
  </tr>
</table>
<table class="full-height full-width">
  <tr class="full-height" style="border-top: 1px solid;">
    <td class="half-width full-height" style="vertical-align: top">
        <table class="full-width full-height">
          <tr *ngFor="let story of npr; let i = index;">
            <td>
              <h1>{{story.title}}</h1>
              <p>{{story.pubDate}}</p>
              <p>{{story.description}}</p>
            </td>
            <td *ngIf="story.thumbnail">
              <img width="300" alt="News image" src="{{story.thumbnail}}">
            </td>
          </tr>
        </table>
    </td>
    <td class="full-width full-height" style="vertical-align: top">
        <table class="full-width full-height">
            <tr *ngFor="let story of disney; let i = index;">
              <td>
                <h1>{{story.title}}</h1>
                <p>{{story.pubDate}}</p>
                <!-- <p>{{story.description}}</p> -->
              </td>
              <td *ngIf="story.thumbnail">
                <img width="300" alt="News image" src="{{story.thumbnail}}">
              </td>
            </tr>
          </table>
      </td>
  </tr>
</table>
